html, body {
  height: 100%;
}

body {
  position: relative;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-box-shadow: 0 0 100px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 100px rgba(0,0,0,0.8);
  box-shadow: 0 0 100px rgba(0,0,0,0.8);
  background: #fff;
  white-space: no-wrap;
  -webkit-transition: background 400ms ease-in;
  -moz-transition: background 400ms ease-in;
  -ms-transition: background 400ms ease-in;
  -o-transition: background 400ms ease-in;
  transition: background 400ms ease-in;
}

section.background {
  background: #eee;
}

section ul {
  margin: 0;
  list-style: none;
}

section a, section.background a, section.background a:hover {
  color: #000;
  background-color: transparent;
  background-position: 8px 7px;
  background-repeat: no-repeat;
  display: block;
  padding: 7px 10px 7px 30px;
  line-height: 16px;
  font-size: 16px;
  outline: none;
}

section a:hover, section a.selected {
  color: #000;
  background-color: #D7EBFF;
  text-decoration: none;
}

section a.active, section.background a.active {
  color: #fff;
  background-color: dodgerBlue;
  text-shadow: 0 1px 0 #084F96;
  opacity: 1;
}

section.background a {
  cursor: default;
  opacity: 0.7;
}

section a {
  background-image: url(../img/icon-unknown.png);
}

section a.file {
  background-image: url(../img/icon-file.png);
}

section a.directory {
  background-image: url(../img/icon-directory.png);
}

section a.directory.active {
  background-image: url(../img/icon-directory-open.png);
}

section a.html {
  background-image: url(../img/icon-html.png);
}

section a.css {
  background-image: url(../img/icon-css.png);
}

section a.js {
  background-image: url(../img/icon-js.png);
}

section a.json {
  background-image: url(../img/icon-json.png);
}

section a.py, section a.pyc {
  background-image: url(../img/icon-python.png);
}

section a.script {
  background-image: url(../img/icon-script.png);
}

section a.gif, section a.jpg, section a.jpeg, section a.png {
  background-image: url(../img/icon-image.png);
}

section a.sqlite, section a.db {
  background-image: url(../img/icon-database.png);
}

section a.csv {
  background-image: url(../img/icon-csv.png);
}

section a.xls, section a.xlsx {
  background-image: url(../img/icon-excel.png);
}

section p.loading {
  color: #888;
  background: transparent url(../img/loader-999-fff.gif) 8px 7px no-repeat;
  padding: 7px 10px 7px 30px;
  line-height: 16px;
  font-size: 16px;
}
